@model IEnumerable<Meme>

<div class="px-3 pb-3" id="map"></div>
<script>
    var map;
    function initMap() {        
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 5,
            streetViewControl: false,
            fullscreenControl: false,
            maxZoom: 13,
            minZoom: 5,
            clickableIcons: false,
            restriction: {
                latLngBounds: {
                    north: 85,
                    south: -85,
                    west: -180,
                    east: 180
                }
            }
        });
        //sets map to bermuda triangle if location is blocked, or while waiting for approval
        map.setCenter({ lat: 25, lng: -71 });      
        
        //else grabs location
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                map.setCenter(pos);
            });
        }

        //Bermuda Triangle Polygon
        var triangleCoords = [
          {lat: 25.774, lng: -80.190},
          {lat: 18.466, lng: -66.118},
          {lat: 32.321, lng: -64.757},
          {lat: 25.774, lng: -80.190}
        ];          
        var bermudaTriangle = new google.maps.Polygon({
          paths: triangleCoords,
          strokeColor: '#FF0000',
          strokeOpacity: 0.2,
          strokeWeight: 1,
          fillColor: '#FF0000',
          fillOpacity: 0.1
        });
        bermudaTriangle.setMap(map);
        
        var latArray = [];
        var lonArray = [];
        var imgPath = [];
        var markers = [];
              
        @foreach(var taco in Model)
        {
            @:latArray.push(@taco.Latitude);
            @:lonArray.push(@taco.Longitude);
            @:imgPath.push("@taco.ImgUrl");
        }

       

        for (var i = 0; i < latArray.length; i++) {
            addMarker({
                coords: { lat: latArray[i], lng: lonArray[i] },
                //content: '<img style="max-width:100px; width:100%" src=https://litmemes.blob.core.windows.net/images/' + imgPath[i] + ' /img>'
                content: imgPath[i]
            }, markers);

            
            
        }

         // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,            
            {
                averageCenter: true,
                imagePath: 'https://meme-me.azurewebsites.net/ClusterImages/m'
            });

    }
    


    function addMarker(props, markers) {
        var marker = new google.maps.Marker({
            position: props.coords,            
            map: map
        });
        var window = new google.maps.InfoWindow({
            content: props.content
        });
        marker.addListener('click', function () {
            window.open(map, marker);
        });
        markers.push(marker);
    }

    
    



    //Adds markers to map on click
    //google.maps.event.addListener(map, 'click', function(event) {
    //         placeMarker(event.latLng);
    //    });
    //function placeMarker(location) {
    //    var marker = new google.maps.Marker({
    //        position: location,
    //        map: map
    //    });
    //}
</script>
<script src="~/js/markerclusterer.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBBSbNYenx3aUVJNQDujBpzACQcnJHfSg&callback=initMap">
</script>