@model Meme

    <form asp-action="Add" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="MemeId" />
        <div>
            <input type="file" id="userImg" name="userImg" value=""/>
        </div>
        <input type="hidden"  asp-for="Latitude" id="Latitude" value="" />
        <input type="hidden" asp-for="Longitude" id="Longitude" value="" />
        <div>
            <button type="submit">Add</button>
        </div>
    </form>




