@model Meme

    <form asp-action="Add" method="post">
        <input type="hidden" asp-for="MemeId" />
        <div>
            <label asp-for="ImgUrl"></label>
            <input asp-for="ImgUrl" />
        </div>
        <input  asp-for="Latitude" id="Latitude" value="" />
        <input  asp-for="Longitude" id="Longitude" value="" />
        <div>
            <button type="submit">Add</button>
        </div>
    </form>




