@model IEnumerable<Meme>

@foreach (var r in Model)
{
    <div class="text-center">
        <img class="img-fluid pr-5 pl-5 ml-5 mr-5" src="~/Images/@r.ImgUrl" />
        <p>Latitude: @r.Latitude & Longitude: @r.Longitude</p>
        <br /><br />
    </div>
}

