@model IEnumerable<Meme>


<div>
    <a type="submit"  asp-controller="Map" asp-action="Index">Map</a>
</div>
<br />
@foreach (var r in Model)
{
    <div>
        <h5>@r.ImgUrl</h5>
        <p>Latitude: @r.Latitude & Longitude: @r.Longitude</p>
    </div>
}
<div>
    <a type="submit"  asp-controller="Meme" asp-action="Add">Add Review</a>
</div>