@model IEnumerable<Meme>

@foreach (var r in Model)
{
    <div>
        <img src="~/Images/@r.ImgUrl" />
        <p>Latitude: @r.Latitude & Longitude: @r.Longitude</p>
        <br /><br />
    </div>
}
<span>
    <a type="submit" asp-controller="Meme" asp-action="Add">Add Meme</a>
</span>