@model IEnumerable<Review>


<div>
    <a type="submit"  asp-controller="Map" asp-action="Index">Map</a>
</div>
<br />
@foreach (var r in Model)
{
    <div>
        <h3>@r.Restaurant</h3>
        @r.ReviewText
        <h4>@r.Rating/10</h4>
    </div>
}
<div>
    <a type="submit"  asp-controller="Review" asp-action="Add">Add Review</a>
</div>

