@model LoginModel
@{  
    ViewBag.Title = "Log In";
}
    <div class="text-danger" style="text-align:left" asp-validation-summary="All"></div>

    <form asp-action="Login" style="display:inline-block; text-align:center" asp-controller="Account" method="post">
        <input type="hidden" asp-for="ReturnUrl" />
        <div class="form-group px-3 mx-3" style="max-width:300px; align-content:center">
            <label asp-for="Name"></label>
            <div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group px-3 mx-3" style="max-width:300px">
            <label asp-for="Password"></label>
            <div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <input asp-for="Password" class="form-control" />
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    