<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lit Memes</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <style>
        #map {
            width: 100%;
            height: 800px;
            background-color: grey;
        }
    </style>
    <script>
        navigator.geolocation.getCurrentPosition(userPosition);

        function userPosition(position) {
            var lat = position.coords.latitude;
            document.getElementById("Latitude").value = lat;
            var long = position.coords.longitude;
            document.getElementById("Longitude").value = long;
        }
    </script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
