<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="https://meme-me.azurewebsites.net/Images/logo.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://meme-me.azurewebsites.net/" />
    <meta property="og:title" content="Meme Me" />
    <meta property="og:description" content="Check out your friendly neighborhood memes!" />
    <meta property="fb:app_id" content="433751613945457" />

    <title>Meme Me</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <style>
        #map {
            width: 100%;
            height: 90vh;
            background-color: grey;
        }

        .bg-navbar {
            background-color: #b7fff2
        }

        .bg-list {
            background-color: #91ffff
        }

        body {
            max-width: 100%;
        }

        .navbar-default {
            max-width: 100%;
        }
        .slidecontainer {
          width: 100%;
        }

        .slider {
          -webkit-appearance: none;
          width: 100%;
          height: 15px;
          border-radius: 5px;
          background: #d3d3d3;
          outline: none;
          opacity: 0.7;
          -webkit-transition: .2s;
          transition: opacity .2s;
        }

        .slider:hover {
          opacity: 1;
        }

        .slider::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background: #007BFC;
          cursor: pointer;
        }

        .slider::-moz-range-thumb {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background: #4CAF50;
          cursor: pointer;
        }
    </style>

</head>
<body class="bg-list" style="margin-top:55px;">

    <nav class="navbar mw-100 fixed-top navbar-expand-lg navbar-expand-md bg-navbar rounded-bottom">
        @*Home Button*@
        <a class="navbar-brand" href="../">Meme Me</a>
        @*Toggle Button*@
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><img style="max-height:100%" src="~/Images/btn.png" /></span>
        </button>
        @*Collapsable parts*@
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <div>
                <button type="button" class="btn" data-toggle="modal" data-target="#localModal">
                    Local Memes
                </button>
            </div>
            <div>
                <button type="button" class="btn" data-toggle="modal" data-target="#addModal">
                    Add Meme
                </button>
            </div>
            <div>

                <a href="../Map/Index">
                    <input class="btn" type="button" value="Map" />
                </a>
            </div>
        </div>
    </nav>

    @*Local Modal*@
    <div class="modal fade" id="localModal" tabindex="-1" role="dialog" aria-labelledby="localModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="localModalLabel">Local Memes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form class="form-inline" asp-controller="Meme" asp-action="LocalList" method="post">
                        <input type="hidden" id="Latitude" name="Latitude" />
                        <input type="hidden" id="Longitude" name="Longitude" />
                        <input type="range" min="1" max="541" value="13" class="slider" id="myRange" name="stonesThrows">
                        <div class="mt-3">Stone's Throws: <span id="demo"></span></div>
                        <div style="margin-left:auto; margin-right:0;"><button class="btn btn-primary mt-3" type="submit">Go</button></div>
                    </form>
                    <script>
                        var slider = document.getElementById("myRange");
                        var output = document.getElementById("demo");
                        output.innerHTML = slider.value;

                        slider.oninput = function () {
                            output.innerHTML = this.value;
                        }
                    </script>
                    <script>
                        navigator.geolocation.getCurrentPosition(userPosition);

                        function userPosition(position) {
                            var lat = position.coords.latitude;
                            document.getElementById("Latitude").value = lat;
                            var long = position.coords.longitude;
                            document.getElementById("Longitude").value = long;

                            var lata = position.coords.latitude;
                            document.getElementById("LatitudeA").value = lat;
                            var longa = position.coords.longitude;
                            document.getElementById("LongitudeA").value = long;
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>


    @*Add Modal*@
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Add Meme</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-controller="Meme" asp-action="Add" method="post" enctype="multipart/form-data">

                        <span>
                            <input class="btn" type="file" id="userImg" name="userImg" value="" accept="image/jpg, image/jpeg, image/png, image/gif, video/webm" />
                        </span>

                        <input type="hidden" name="Latitude" id="LatitudeA" />
                        <input type="hidden" name="Longitude" id="LongitudeA" />

                        <button type="submit" class="btn btn-primary">Add</button>

                    </form>
                    <script>
                        navigator.geolocation.getCurrentPosition(userPosition);

                        function userPosition(position) {
                            var lat = position.coords.latitude;
                            document.getElementById("Latitude").value = lat;
                            var long = position.coords.longitude;
                            document.getElementById("Longitude").value = long;

                            var lata = position.coords.latitude;
                            document.getElementById("LatitudeA").value = lat;
                            var longa = position.coords.longitude;
                            document.getElementById("LongitudeA").value = long;
                        }
                    </script>

                </div>
            </div>
        </div>
    </div>

    <div style="text-align:center;  overflow:hidden">
        @RenderBody()
    </div>
</body>
</html>
